  <footer class="footer-container">
    <div class="footer-content">
      <ul class="footer-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/this-is-what-we-do.html">This is What We do</a></li>
        <li><a href="/partner-with-us.html">Partner With Us</a></li>
        <li><a href="/press.html">Press</a></li>
        <li><a href="/careers.html">Careers</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
      <p>© <%= Time.now.year %> cobrain. All Rights Reserved.</p>
    </div>
  </footer>
