<nav class="navigation">
  <div class="nav-container">
    <a href="/"><img src="images/logo.png" class="logo"></a>
    <div class="main-nav">
      <div class="menu-toggle" id="menu-toggle">☰</div>
      <ul class="navigation-menu">
        <div class="nav-close"><i class="close-small sprite"></i></div>
        <li><a href="/about.html">About</a></li>
        <li><a href="/partner-with-us.html">Partner With Us</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
