/*-----------------------
About Header
-----------------------*/
.about-header{
  background-color: $yellow-base;
}


/*-----------------------
Image Collection
-----------------------*/
figure{
  @include boxed-content;
}

.photostack {
  background: $white-med;
  position: relative;
  text-align: center;
  overflow: hidden;
  z-index: 9;
}

.js .photostack {
  height: 580px;

  @include media($tablet){
    height: 700px;
  }
}

.photostack-start {
  cursor: pointer;
}

/* Wrapper and figures */

/* The size of this wrapper can be smaller if the items should not be scattered across the whole container */
.photostack > div {
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.photostack figure {
  background: $white-base;
  display: inline-block;
  padding: 40px;
  position: relative;
  text-align: center;
  margin: 5px;
  width: 340px;
}

.js .photostack figure {
  display: block;
  margin: 0;
  position: absolute;
}

.photostack figcaption h2 {
  color: $grey-base;
  @include s-medium;
  margin: 20px 0 0 0;
}

figcaption p{
  @include s-small;
}

.photostack-img {
  background: #f9f9f9;
  display: block;
  height: 260px;
  outline: none;
  width: 260px;
}

.photostack-back {
  background: $white-base;
  color: #a7a0a2;
  display: none;
  font-size: 22px;
  height: 100%;
  @include position(absolute, 0px null null 0px);
  line-height: 1.25;
  padding: 50px 40px;
  text-align: left;
  width: 100%;
  z-index: 1;
}

.photostack-back p {
  margin: 0;
}

.photostack-back p span {
  text-decoration: line-through;
}

/* Navigation dots */
.photostack nav {
  @include position(absolute, null null 30px 0px);
  @include transition(opacity 0.3s);
  text-align: center;
  width: 100%;
  z-index: 90;
}

.photostack-start nav {
  opacity: 0;
}

.photostack nav span {
  background: #aaa;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  @include transition(transform 0.6s ease-in-out, background 0.3s);
  @include transform(scale(0.48));
  margin: 0 5px;
  position: relative;
  text-align: center;
  width: 30px;
}

.photostack nav span:last-child {
  margin-right: 0;
}

.photostack nav span::after {
  background: url('../../images/flip.svg') no-repeat center;
  content: "";
  display: inline-block;
  height: 14px;
  @include backface-visibility(hidden);
  @include transition(opacity 0.3s);
  opacity: 0;
  width: 14px;
  vertical-align: -8px;
}

.photostack nav span.current {
  background: $grey-base;
  @include transform(scale(1));
}

.photostack nav span.current.flip {
  background: $grey-base;
  @include transform(scale(1) rotateY(-180deg) translateZ(-1px));
}

.photostack nav span.flippable::after {
  @include transition-delay(0.4s);
  opacity: 1;
}

/* Hide figure overlay when it becomes current */
figure.photostack-current::after {
  @include transition(opacity 0.6s, visibility 0s 0.6s);
  opacity: 0;
  visibility: hidden;
}

/* Special classes for transitions and perspective */
.photostack-transition figure {
  @include transition(transform 0.6s ease-in-out);
}

.photostack-perspective {
  @include perspective(1800px);
}

.photostack-perspective > div,
.photostack-perspective figure {
  @include transform-style(preserve-3d);
}

.photostack-perspective figure,
.photostack-perspective figure div {
  @include backface-visibility(hidden);
}

.photostack-perspective figure.photostack-flip {
  @include transform-origin(0% 50%);
}

.csstransformspreserve3d figure.photostack-flip .photostack-back {
  @include transform(rotateY(180deg));
  display: block;
}

.no-csstransformspreserve3d figure.photostack-showback .photostack-back {
  display: block;
}

/* The no-JS fallback look does not need to be boring ;) */
.no-js .photostack figure {
  box-shadow: -2px 2px 0 rgba(0,0,0,0.05);

  &:after{ display: none; }

  &:nth-child(3n) {
    @include transform(translateX(-10%) rotate(5deg));
  }

  &:nth-child(3n-2) {
     @include transform(translateY(10%) rotate(-3deg));
  }
}

.photostack-title span{
  font-weight: $light;
  @include s-small;
}

/*-----------------------
Career Callout
-----------------------*/
.career-wrapper{
  background: $white-light url('../../images/career-callout.jpg') no-repeat center;
  background-size: cover;
}