.contact-header{
  background-color: $pink-base;

  img{
    height: 100%;
    @include position(absolute, inherit -20px 0px inherit);
    @include transform(translateY(0%) translateX(0%));
    width: inherit;


    @include media($tablet){
      @include position(absolute, null -240px 0px null);
    }

    @include media($tablet-landscape){
      @include position(absolute, null -40px 0px null);
    }
  }
}

.contact-container{
  .map{
    @include media($tablet){
      @include span-columns(6 of 12);
    }

    iframe{
      height: 400px;
      width: 100%;

      @include media($tablet){
        height: 350px;
      }
    }
  }
}

aside.contact-info{
  border-top: 3px solid $pink-base;

  @include media($tablet){
    @include rem(margin, 0px 0px 0px 0px);
    @include span-columns(6 of 12);
  }

  .contact-info-block{
    @include center;
    max-width: 350px;
  }

  .contact-block{
    @include rem(margin-top, 20px);

    i{
      display: inline-block;
      vertical-align: top;
    }

    .text-block{
      display: inline-block;
      @include rem(margin-top, 10px);
      @include rem(padding-left, 10px);
      overflow: hidden;
      width: calc(100% - 60px);
    }
  }

  a{
    font-weight: $regular;
  }
}

/*-----------------------
Form
-----------------------*/
.form-wrapper{
  .image-block{
    background: $white-light url('../../images/contact-form.jpg') no-repeat center;
    background-size: cover;
  }
}

.split-block{
  background-color: $white-dark;
  @include rem(padding, 50px 20px);

  @include media($tablet){
    border-right: 5px solid $white-base;
    float: left;
    width: 50%;
  }

   @include media($tablet-landscape){
    @include rem(padding, 50px);
  }

  .split-block-content{
    @include center;
    max-width: 500px;
  }
}

.split-block-wrapper{
  display: inline-block;
  position: relative;
  width: 100%;

  .image-block{
    height: 400px;

    @include media($tablet){
      float: left;
      height: 100%;
      @include position(absolute, null 0px null null);
      width: 50%;
    }
  }
}
