[class*=-container]{
  @include base-padding;
  @include outer-container;
}

.subheader{
  @include s-base;
  @include rem(padding-bottom, 30px);
  @include rem(margin-bottom, 0px);
  max-width: 600px;
}

@mixin boxed-content{
  box-shadow: 0px 2px 4px 0px rgba(131, 131, 131, 0.5);
  @include rem(margin-top, 50px);
  @include rem(padding, 30px);
}

/*-----------------------
Aside
-----------------------*/
aside{
  border-top: 3px solid $purple-base;
  box-shadow: 0px 2px 4px 0px rgba(131, 131, 131, 0.5);
  @include rem(margin-top, 30px);
  @include rem(padding, 30px);

  @include media($tablet){
    @include shift(0.5);
    @include span-columns(5 of 12);
    @include rem(margin-top, 50px);
  }
}

//Image
.image-area{
  background-size: cover;
  height: 300px;
}

/*-----------------------
Overlay
-----------------------*/
.overlay{
  position: relative;
  z-index: 1;

  &:after{
    content: "";
    @include position(absolute, 0px 0px 0px 0px);
    background-color: $black-dark;
    opacity: 0.65;
    z-index: -1;
  }
}

.center-header{
  text-align: center;

  h2, p{
    color: $white-base;
    @include center;
  }

  h2{ max-width: 800px; }
  p{ @include rem(margin-bottom, 20px); max-width: 600px; }
}

/*-----------------------
Quote Block
-----------------------*/
.quote-block{
  background-color: #150C46;
  color: $white-base;
  @include rem(margin-top, 5px);
  @include rem(padding, 40px 20px);
  text-align: center;

  img{
    border-radius: 50%;
    @include rem(margin-bottom, 20px);
    width: 100px;
  }

  blockquote{
    @include center;
    max-width: 600px;
  }
}


/*-----------------------
Retail
-----------------------*/
.retail-container{
  text-align: center;

  .subheader{ @include center; }
}

.card{
  background-color: $white-base;
  box-shadow: 0px 2px 4px 0px rgba(131, 131, 131, 0.5);

  h6{ @include rem(padding, 15px 0px); }
}

.gallery{
  @include rem(margin-bottom, 30px);
}

.retail-container{
  h2{
    line-height: 1.4;

    span{
      background-color: $white-base;
      border-top: 1px solid $blue-base;
      box-shadow: 0px 2px 4px 0px rgba(131, 131, 131, 0.5);
      @include rem(padding, 5px);
      @include rem(margin, 0px 3px);
      position: relative;

      &:after{
        border-top: 1px solid $grey-light;
        content: "";
        @include vertical-horizontal-center;
        width: 100%;
      }
    }
  }

  .button-blue-outline{
    @include rem(margin-top, 0px);
  }
}
/*-----------------------
Audience
-----------------------*/
.audience-wrapper{
  background: $white-light url('../../images/clothing-rack.jpg') no-repeat center;
  background-size: cover;
}


.audience-container{
  text-align: center;
  h5{ color: $white-base; }

  li{
    @include rem(margin-top, 30px);

    @include media($tablet){
      @include span-columns(4 of 12);
    }

    img{
      @include rem(margin-bottom, 20px);
      width: 50%;
    }
  }

  a{
    @include rem(margin-top, 30px);
  }
}


/*-----------------------
404
-----------------------*/

.fourofour-header{
  height: inherit;

  .text-block{
    max-width: 600px;
    @include center;
  }

  h5, h1, a, .btn{
    text-align: center;
  }
}