.partner-header{
  background: $white-light url('../../images/partner-header.jpg') no-repeat center;
  background-size: cover;
}

.partner-with-us{
  .image-block{
    background: $white-light url('../../images/girls-at-mall.jpg') no-repeat center;
    background-size: cover;
  }
}

.partner-with-us-container{
  @include rem(padding-bottom, 0px);
  h2{ color: $black-base; }
}

.tabs-container{
  @include rem(padding, 10px 0px 30px);

  >li{
    //cursor: pointer; //comment back in later went tabs have content
    @include span-columns(3 of 12);
    list-style: none;
    position: relative;
    text-align: center;
    transition-duration: .15s;
    min-height: 126px;

    @include media($tablet){
      min-height: 170px;
    }

    //i, h5{ &:hover{ opacity: 0.5; } } //comment back in later went tabs have content

    &:before{
      background-color: rgba(255, 255, 255, .3);
      content: "";
      height: 120%;
      @include position(absolute, 0px null null 0px);
      @include transform(translateY(100%));
      width: 100%;
      z-index: -1;
    }

    &:hover{
      &:before{
        @include transform(translateY(70%));
      }
    }
  }

  li.active{
    &:after{
      content:"";
      @include horizontal-center;
      @include position(absolute, null null -60px null);
      @include triangle(60px, $white-base, down);
      z-index: 9;

      @include media($tablet-landscape){
        @include position(absolute, null null -55px null);
      }
    }
  }
}

.content-container{
  @include rem(padding-bottom, 0px);

  @include media($tablet){
    @include rem(padding-bottom, 20px);
  }
}

.tab__content{
  height: 100% !important;
  @include rem(margin-bottom, 5px);
  position: relative;
  width: 100%;

  >li{
    //display: none; //comment back in later went tabs have content
    list-style: none;
    width: 100%;

    .content__wrapper{
      background-color: $white-med;
      text-align: center;
      width: 100%;
    }
  }
}