---
title: Cobrain / Personalized Product Offers
---

<header class="page-header home-header overlay">
  <div class="home-container">
    <div class="text-block">
      <h1>Personalized Product Offers</h1>
      <p class="subheader">We help leading retailers delight their customers by personalizing the shopping experience and delivering compelling product offers.</p>
      <a href="this-is-what-we-do.html" class="button-blue-base">This is what we do</a>
    </div>
  </div>
</header>

<section class="quote-block">
  <img src="images/bo-derek.jpg">
  <blockquote>“Whoever said money can't buy happiness  simply didn't know where to go shopping.”</blockquote>
  <cite>—Bo Derek, Model, Actress, & Producer</cite>
</section>

<section class="retail-container">
  <h2>Join <span>2</span><span>6</span><span>3</span> of the biggest names in retail</h2><br>
  <p class="subheader">We're the first company delivering personalized product offers focused on brands and categories. Our merchant partners can now promote certain products to targeted consumers all over the web.</p>
  <%= partial 'partials/retail-slider' %>
  <a href="http://shop.cobrain.com/" class="button-blue-outline" target="_blank">Shop all of our retailer partners by using one app!</a>
</section>

<section class="audience-wrapper overlay">
  <div class="audience-container">
    <div class="center-header">
      <h2>Our customers deliver personalized product offers</h2>
    </div>
    <ul>
      <li>
        <i class="credit-card-xl"></i>
        <h5>Credit Card Offers</h5>
      </li>
      <li>
        <i class="retail-xl"></i>
        <h5>Retail Merchant Offers</h5>
      </li>
      <li>
        <i class="coupon-xl"></i>
        <h5>Coupon and Deals Sites</h5>
      </li>
    </ul>
    <a href="/partner-with-us.html" class="button-blue-base">Partner with Us</a>
  </div>
</section>